.jumbo-title{
    font-size: 75px;
}

.jumbo{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
